<div class="d-flex px-2" *ngIf="profile">
  <!-- <div class="align-self-center"> -->
  <div class="mr-auto align-self-center">
    <app-profile-shortlist-button [profile]="profile" (disableEmitter)="onDisable($event)">
    </app-profile-shortlist-button>
  </div>
  <!-- </div>
  <div class="mr-auto align-self-center">
    <span class="reg-text px-2">Shortlist</span>
  </div> -->
  <div class="align-self-center">
    <span class="h6">Like&nbsp;her?</span>
  </div>
  <div class="align-self-center">
    <button (click)="sendButtonPress(buttonTypes.No)" [disabled]="isDisabled" class="cancel-button"
      style="width: 40px;">
      <img src="./assets/icons/x.svg" />
    </button>
  </div>
  <div class="align-self-center">
    <button (click)="sendButtonPress(buttonTypes.Yes)" [disabled]="isDisabled" class="ok-button" style="width: 40px;">
      <img src="./assets/icons/check.svg" />
    </button>
  </div>
</div>