<div class="px-3 pt-3" style="background-color: #33a3db; height: 100vh;">
  <div class="d-flex flex-row align-items-center">
    <div class="p-2 text-white mr-auto">My Matches</div>
    <ng-container *ngIf="!isSmallScreen(); else overflowMenuTmpl">
      <div class="p-2 text-truncate">
        <a [routerLink]="['/', paths.STACK_DAILY_RECOMMENDATIONS]" class="btn btn-success btn-sm">Daily
          Recommendations</a>
      </div>
      <div class="p-2">
        <a [routerLink]="['/', paths.STACK_FEATURED]" class="btn btn-danger btn-sm">Featured</a>
      </div>
    </ng-container>
  </div>
  <div class="mr-auto p-2 text-white h5">
    {{ profiles.length }} Profiles pending with me ({{ profiles.length - 3 }} new)
  </div>
  <ng-container *ngIf="!isSmallScreen(); else smallScreenTmpl">
    <div class="container-fluid" style="background-color: #33a3db;">
      <swiper #swiperRef [slidesPerView]="5" [spaceBetween]="10" [navigation]="true" [pagination]="true"
        class="mySwiper">
        <ng-template swiperSlide *ngFor="let prof of profiles">
          <app-profile-card-view [profile]="prof" (bodyClick)="profileClicked(prof)">
            <app-yes-no-buttons [profile]="prof" (buttonClicked)="buttonClicked($event, prof)"></app-yes-no-buttons>
          </app-profile-card-view>
        </ng-template>
      </swiper>
    </div>
  </ng-container>
</div>

<ng-template #smallScreenTmpl>
  <div class="d-flex flex-row mb-3 hidden-scrollbar"
    style="width: 100%; overflow-x: scroll; background-color: #33a3db;">
    <ng-container *ngFor="let prof of profiles">
      <div class="p-2" [id]="'profile-box-' + prof.id ">
        <app-profile-card-view [profile]="prof" (bodyClick)="profileClicked(prof)">
          <!-- (dpClicked)="dpClicked($event, prof)" -->
          <app-yes-no-buttons [profile]="prof" (buttonClicked)="buttonClicked($event, prof)"></app-yes-no-buttons>
        </app-profile-card-view>
      </div>
    </ng-container>
  </div>
</ng-template>

<ng-template #overflowMenuTmpl>
  <div class="p-2">
    <!-- <img src="./assets/icons/more-icon-white.svg" height="20px" width="20px" /> -->
    <button mat-button [matMenuTriggerFor]="beforeMenu">
      <button mat-icon-button class="material-icons color-white" aria-label="vertical three dot icon">
        <mat-icon>more_vert</mat-icon>
      </button>
    </button>
    <mat-menu #beforeMenu="matMenu" xPosition="before">
      <button mat-menu-item [routerLink]="['/', paths.STACK_DAILY_RECOMMENDATIONS]">Daily recommendations</button>
      <button mat-menu-item [routerLink]="['/', paths.STACK_FEATURED]">Featured Profiles</button>
    </mat-menu>
  </div>
</ng-template>

<!-- <ng-template #header>
  <div class="d-flex">
    <div class="mr-auto p-2 text-white">
      My Matches
    </div>
    <div class="p-2">
      <img src="./assets/icons/more-icon-white.svg" height="20px" width="20px" />
    </div>
  </div>
  <div class="mr-auto p-2 text-white h5">
    {{ profiles.length }} Profiles pending with me ({{ profiles.length - 3 }} new)
  </div>
</ng-template> -->