<!-- <p>
  The current screen size is <strong>{{currentScreenSize}}</strong>
</p> -->

<div class="gradient-box-1">
  <!-- nothing here -->
</div>

<a [routerLink]="['/', paths.HOME]">
  <div class="d-flex flex-row align-items-center h3">
    <div class="ml-3">
      <img src="./assets/icons/arrow-left.svg">
    </div>
    <div class="mr-auto pl-1">
      <i class="fa-solid fa-arrow-left"></i> <span style="color: white">{{ func.getStackTypeLabel(profileStackType)
        }}</span>
    </div>
  </div>
</a>

<ng-container *ngIf="!isSmallScreen(); else smallScreenTmpl">
  <!-- regular screen view -->
  <div class="container-fluid">
    <div class="d-flex flex-row mb-3 hidden-scrollbar1" style="width: 100%; overflow-x: scroll;">
      <ng-container *ngFor="let prof of profiles">
        <div class="p-2">
          <div class="shadow">
            <app-profile-card-view [profile]="prof" [showPremiumInfo]="true">
              <app-extended-actions [profile]="prof"></app-extended-actions>
            </app-profile-card-view>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
  <!-- end: regular screen view -->
</ng-container>

<ng-template #smallScreenTmpl>
  <!-- mobile screen view -->
  <div class="d-flex flex-column mb-3 align-items-center" (swipe)="onSwipe($event)">
    <div *ngIf="profiles.length > 2" class="box-1 w-50">&nbsp;</div>
    <div *ngIf="profiles.length > 1" class="box-2" style="width: 65%;">&nbsp;</div>
    <div class="px-3">
      <div class="shadow">
        <app-profile-card-view [profile]="selProfile" [showPremiumInfo]="true">
          <app-extended-actions [profile]="selProfile" (buttonClicked)="doAction($event)">
          </app-extended-actions>
        </app-profile-card-view>
      </div>
    </div>
  </div>
  <!-- end: mobile screen view -->
</ng-template>

<ng-template #noProfileTmpl>
  <div>
    No more matches
  </div>
</ng-template>